//// GRID ////

@import "../components/neat/app/assets/stylesheets/neat-helpers";

// User Variables
$screen-width:    1280; // Optimal/chosen screen-width
$screen-columns:  16; // Number of columns spanning screen-width (gutters count as columns for this one)

// Change the grid settings
$column: em($screen-width/$screen-columns); // Calculates the size of each column assuming no gutter
$gutter: $column; // Creates a gutter equal to the width of the column
$grid-columns: $screen-columns;
$max-width: $column*$grid-columns;

// Define your breakpoints
$mobile:    new-breakpoint(max-width em(639));
$tablet:    new-breakpoint(min-width em(640) max-width em(1024)); // Breakpoint for tablets and phones
$computer:  new-breakpoint(min-width em(1025) max-width em(1440)); // Breakpoint for computers
$tv:        new-breakpoint(min-width em(1441)); // Breakpoint for bloody large screens

// Debugging
// $visual-grid: true; // Enables a grid-overlay in the background