.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; // 16:9
  padding-top: 35px;      // Size of YouTube Player Bar
  height: 0;
  overflow: hidden;
}

.videoWrapper>iframe {
  border-top: 6px solid #FFF; // Removes the black-border at the top of the youtube player
  -webkit-box-sizing: border-box !important;
     -moz-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

hr {
    margin: 4em 0 0 0;
    padding: 0;
    border: none;
    border-top: medium double #444;
    color: #444;
    text-align: center;
}

hr:after {
    content: '\00A7';
    display: inline-block;
    position: relative;
    top: -.85em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

menu {
  list-style: none;                           // Prevents fugly list bullets from showing up
  & a {
  text-decoration: none;                      // Removes underlines from links because this is supposed to be a menu
  }
  & li {
    padding-left: 1rem;                       // Prevents the list items from sticking to the left edge of the screen
    padding-top:0.25em;                       // Spaces out the top of the list items
    padding-bottom:0.25em;                    // Spaces out the bottom of the list items
  }
  & li.active {
    font-weight: bold;                        // Differentiates the active menu item by bolding it
  }
  & h1 {
    padding-left: 1rem;                       // Pads the menu header so it matches up with the lists
  }
}

.push-golden {
  @include media($mobile) {
    @include pad(1em 0 0 0);                  // Pushes content down, albeit without the artistic ratio
  }
  @include media($tablet) {
    @include pad($column/1.618 0 0 0);        // Pushes content down, albeit without the artistic ratio :(
  }
  @include media($computer) {
    @include pad($column/1.618 0 0 0);        // Pushes content down by an artistically-mandated ratio
  }
  @include media($tv) {
    @include pad($column/1.618 0 0 0);        // Pushes content down by an artistically-mandated ratio
  }
}

@include media($mobile) {
  header {
    position: fixed;                          // Sticks the header to the top when scrolling on mobile devices
    background-color: rgba(255,255,255,0.5);  // Adds a white background that is semi-transparent
    text-align: center;                       // Centers the text to give it a topbar kind of look
    z-index: 9998;
    & h1 {
      font-size: 2em;                         // Decreases the title font-size on mobile so it doesn't get so fat
    }
    & h5 {
      font-size: 1em;                         // Decreases the sub-header font-size on mobile so it doesn't get so fat
    }
    & + section {
      padding-top: 5em;                       // Pushes down the first section because position:fixed does stupid things to spacing
    }
  }
}

.hidden-mobile {
  display: inline-block;
  @include media($mobile) {
    display: none;
  }
}

ol li {
  margin-bottom: 1.5em;
  &:last-child {
    margin-bottom: 0;
  }
}