// @font-face {
//   font-family: 'BitterRegular';
//   src: url('../fonts/bitter/Bitter-Regular-webfont.eot');
//   src: url('../fonts/bitter/Bitter-Regular-webfont.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/bitter/Bitter-Regular-webfont.woff') format('woff'),
//        url('../fonts/bitter/Bitter-Regular-webfont.ttf') format('truetype'),
//        url('../fonts/bitter/Bitter-Regular-webfont.svg#BitterRegular') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

$body-copy-color: #2B2E36;
$heading-color: #2E362B;
$font-family: 'Bitter',serif; // Redeclare font-family variable to add our own font-face
$font-properties: $weight, $line-height, $font-size, $font-family; // Stole this from Typeplate to reinitialize the var

html {
  @include base-type($font-properties...);    // Also stole this from Typeplate to stuff for the new font
  -webkit-font-smoothing: antialiased;        // Make fonts look nice and crisp on WebKit
  -ms-font-smoothing:     antialiased;        // Make things look barely acceptable on I-bloody-E
  -o-font-smoothing:      antialiased;        // Make fonts look nice and crisp on Opera
  font-smoothing:         antialiased;        // Prefixless fallback for antialiased font rendering
  text-rendering:         optimizeLegibility; // What it says, you can read can't you?
  @include media($mobile) {
    font-size: 90%; // Chops the font-size by 10% on mobile devices (since we'll be holding stuff closer)
  }
  @include media($tablet) {
    font-size: 95%; // Chops the font-size by 5% on tablet-sized devices so it ain't too yo' mamma
  }
}

a {
  color: #9E373E;
  &:hover {
    color: #C45A3B;
  }
}

.text-center {
  text-align:center;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom:1em;
}